div#__nuxt,
#__layout,
#__layout > div,
.app,
.container-fluid {
  min-height: 100vh;
}

.main-content {
    display: flex;
    padding-left: 110px;
    background-color: #DADADA;
    min-height: 100vh;
}

.content-container {
    margin: 1.5rem 1rem;
    padding: 2rem 1rem;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    .container {
        padding: 1rem 0;
        width: 80%;
        margin: 0 auto;
    }
}

.page-logo {
    display: flex;
    align-items: center;
    min-height: 140px;
    margin-bottom: 1.5rem;
}

.page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-separator {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: $dark;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 300px;

    &::before {
        content: '';
        flex-grow: 1;
        background: #ddd;
        height: 1px;
        font-size: 0;
        line-height: 0;
        margin-right: 6px;
    }

    &::after {
        content: '';
        flex-grow: 1;
        background: #ddd;
        height: 1px;
        font-size: 0;
        line-height: 0;
        margin-left: 6px;
    }
}