$dark: #4D4D4D;
$gray: #F1F1F1;
$accent: #3A58D5;
$purple: #605CDA;
$menu-dark: #292C30;

$dark-pink: #82379F;

$heading: #16093C;

$btn-focus-box-shadow: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xx: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;