@import './variables';

@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';

@import '/node_modules/bootstrap/scss/reboot';
@import '/node_modules/bootstrap/scss/buttons';

@import '/node_modules/bootstrap/scss/utilities/spacing';
@import '/node_modules/bootstrap/scss/utilities/display';
@import '/node_modules/bootstrap/scss/utilities/text';
@import '/node_modules/bootstrap/scss/utilities/flex';
@import '/node_modules/bootstrap/scss/tables';
@import '/node_modules/bootstrap/scss/grid';
@import '/node_modules/bootstrap/scss/badge';
@import '/node_modules/bootstrap/scss/modal';
@import '/node_modules/bootstrap/scss/pagination';
/**
 * Shared Components
 */ 
@import './components/shared/header';
@import './components/shared/sidebar';
@import './components/shared/swal2';
@import './components/shared/chart';

/**
 * Global Styles
 */
@import './components/shared/buttons';
@import './components/shared/headings';
@import './components/shared/transitions';
@import './components/global';

/** Modules */
@import './modules/index';

a:focus, button:focus, .btn:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

.container.container-big {
    @include media-breakpoint-up(lg) {
        width: 97%;
    }
}