@import './variables';

@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';

@import '/node_modules/bootstrap/scss/reboot';

@import '/node_modules/bootstrap/scss/buttons';

@import '/node_modules/bootstrap/scss/utilities/spacing';

/**
 * Shared Components
 */ 
@import './components/shared/header';
@import './components/shared/sidebar';
@import './components/shared/swal2';

/**
 * Global Styles
 */
@import './components/shared/headings';
@import './components/shared/transitions';
@import './components/global';

a:focus, button:focus, .btn:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}